.container {
  display: flex;
  gap: 5px;
  font-size: 30px;
  color: yellow;
}

.element {
  width: 300px;
  height: 300px;
  /* height: 400px;  */
  background-color: red;
}

.element:nth-child(2){
  background-color: black;
  color: white;
}

@media (max-width: 668px) {
  .container {
    flex-direction: column;
  }
}